In [1]:
import pandas as pd
import os

In [2]:
path = os.path.join("Resources","purchase_data.csv")
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
df.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

In [4]:
total_players=df['SN'].nunique()
total_players
print("Total number of players : {}".format(total_players))

Total number of players : 576

In [5]:
unique_items = df['Item ID'].nunique()
print("Number of Unique Items : {}".format(unique_items))

Number of Unique Items : 179

In [6]:
avg_price= df['Price'].mean()
print("Average Purchase Price: ${}".format(avg_price))

Average Purchase Price: $3.050987179487176

In [7]:
total_purchases = df['Purchase ID'].count()
print("Total Number of Purchases : {}".format(total_purchases))

Total Number of Purchases : 780

In [8]:
total_revenue= df['Price'].sum()
print("Total Revenue : ${}".format(total_revenue))

Total Revenue : $2379.77

In [9]:
#Gender Demographics

In [10]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
total = df.Gender.count()
males = df.loc[df['Gender']== "Male","Gender"].count()
male_percent = round((males/total)*100,2)
print(total,males,male_percent)

780 652 83.59

In [12]:
females = df.loc[df["Gender"]=="Female", "Gender"].count()
female_percent = round((females/total)*100,2)
print(females, female_percent)

113 14.49

In [13]:
other = total - males - females
other_percent= round((other/total)*100,2)
print(other,other_percent)

15 1.92

In [14]:
#Purchasing Analysis

In [15]:
gendergroup = df.groupby("Gender")

In [16]:
purchase_count = gendergroup['Purchase ID'].count()
type(purchase_count)

pandas.core.series.Series

In [17]:
total_value = gendergroup['Price'].sum()

In [18]:
avg_purchase_price = round(gendergroup["Price"].mean(),2)

In [19]:
avg_tot_gen = round(total_value/ gendergroup.Gender.count(),2)

In [20]:
Purchasing_Analysis_Gender = pd.DataFrame({"Count":purchase_count, "Avg": avg_purchase_price, "Toal Purchase" : total_value, "Avg_Tot_byGender": avg_tot_gen})
Purchasing_Analysis_Gender

                       Count   Avg  Toal Purchase  Avg_Tot_byGender
Gender
Female                   113  3.20         361.94              3.20
Male                     652  3.02        1967.64              3.02
Other / Non-Disclosed     15  3.35          50.19              3.35

In [21]:
#Age Demographics

In [23]:
bins = [0,9,14,19,24,29,34,39,100]
label = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [25]:
df['Age_Group'] = pd.cut(df['Age'], bins , labels = label)
df.head()

In [29]:
groupage =df.groupby('Age_Group')

In [35]:
purch_count = groupage['Purchase ID'].count()
tot_val = round(groupage['Price'].sum(),2)
avg_val = round(groupage['Price'].mean(),2)
avg_tot_age = round(tot_val/groupage.Age_Group.count(),2)

In [40]:
new_df = pd.DataFrame({ "Purchase_Count" : purch_count, "Avg_Purchase_Price": avg_val, "Total_Purchase_Value": tot_val, "Total_per_AgeGroup": avg_tot_age})
new_df

,Purchase_Count,Avg_Purchase_Price,Total_Purchase_Value,Total_per_AgeGroup
Age_Group,,,,
<10,23,3.35,77.13,3.35
10-14,28,2.96,82.78,2.96
15-19,136,3.04,412.89,3.04
20-24,365,3.05,1114.06,3.05
25-29,101,2.90,293.00,2.90
30-34,73,2.93,214.00,2.93
35-39,41,3.60,147.67,3.60
>40,13,2.94,38.24,2.94

In [41]:
#Top Spenders

In [42]:
groupsn = df.groupby('SN')

In [43]:
p_count = groupsn['Purchase ID'].count()
a_val = round(groupsn['Price'].mean(),2)
t_val = round(groupsn['Price'].sum(),2)

In [54]:
sn_df =pd.DataFrame ({"Purchase_Count": p_count, "Avg_Purchase_Price": a_val,"Total_Purchase_Value":t_val})

In [60]:
sortdf = sn_df.sort_values('Total_Purchase_Value',ascending = False)
top_5 = sortdf.iloc[:5,:]
top_5

In [62]:
#Most Popular Items

In [71]:
grouppop = df.groupby(['Item ID','Item Name'])

In [88]:
cnt = grouppop['Purchase ID'].count()
tot_price = round(grouppop['Price'].sum(),2)
price = round(tot_price/cnt,2)

In [93]:
pop_df = pd.DataFrame({"Purchase_Count":cnt, "Item_Price":price, "Total_Purchase_Value": tot_price})
items_df = pop_df.sort_values('Purchase_Count', ascending = False)

In [97]:
popsort_df = items_df.iloc[:5:]
popsort_df

,,Purchase_Count,Item_Price,Total_Purchase_Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [98]:
profit_df = pop_df.sort_values('Total_Purchase_Value', ascending = False)

In [100]:
final_df = profit_df.iloc[:5,:]
final_df

,,Purchase_Count,Item_Price,Total_Purchase_Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80