In [4]:
import pandas as pd
import os

In [5]:
path = os.path.join("Resources","purchase_data.csv")
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
###Checking for NULL VALUES

In [7]:
df.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

In [8]:
###Calculating Total number of Players

In [9]:
total_players=df['SN'].nunique()
total_players
print("Total number of players : {}".format(total_players))

Total number of players : 576

In [10]:
###Purchasing Analysis (Total)

In [67]:
unique_items = df['Item ID'].nunique()
print("Number of Unique Items : {}".format(unique_items))

Number of Unique Items : 179

In [68]:
avg_price= round(df['Price'].mean(),2)

In [69]:
total_purchases = df['Purchase ID'].count()

In [70]:
total_revenue= df['Price'].sum()

In [78]:
purch_an = pd.DataFrame({"Number of Unique \nItems": unique_items,"Average \nPrice": avg_price,"Number of \nPurchases": total_purchases,"Total \nRevenue": total_revenue},index=[0])
purch_an['Average \nPrice']=purch_an['Average \nPrice'].map("${}".format)
purch_an['Total \nRevenue']=purch_an['Total \nRevenue'].map("${}".format)
purch_an

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [9]:
#Gender Demographics

In [80]:
groupg= df.groupby('Gender')

In [116]:
nos = groupg['Gender'].count()
nos = pd.Series(nos,name ="Total Count")

In [118]:
percent=round((nos/df['Gender'].count())*100,2)

percent = pd.Series(percent,name = "Percentage of Players")

In [119]:
s = pd.concat([nos,percent],axis =1)
s['Percentage of Players']=

                       Total Count  Percentage of Players
Gender
Female                         113                  14.49
Male                           652                  83.59
Other / Non-Disclosed           15                   1.92

In [13]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [16]:
total = df.Gender.count()
males = df.loc[df['Gender']== "Male","Gender"].count()
male_percent = round((males/total)*100,2)
print("Total males : {} \nPercent of males: {}%".format(males,male_percent))

Total males : 652
Percent of males: 83.59%

In [17]:
females = df.loc[df["Gender"]=="Female", "Gender"].count()
female_percent = round((females/total)*100,2)
print("Total females : {} \nPercent Females : {}%".format(females, female_percent))

Total females : 113
Percent Females : 14.49%

In [19]:
other = total - males - females
other_percent= round((other/total)*100,2)
print("Other Total : {}\nOthers Percent : {}%".format(other,other_percent))

Other Total : 15
Others Percent : 1.92%

In [14]:
#Purchasing Analysis (Gender)

In [20]:
gendergroup = df.groupby("Gender")

In [21]:
purchase_count = gendergroup['Purchase ID'].count()

In [22]:
total_value = round(gendergroup['Price'].sum(),2)

In [23]:
avg_purchase_price = round(gendergroup["Price"].mean(),2)

In [24]:
avg_tot_gen = round(total_value/ gendergroup.Gender.count(),2)

In [25]:
Purchasing_Analysis_Gender = pd.DataFrame({"Count":purchase_count, "Avg_Purchase_Price": avg_purchase_price, "Total_Purchase" : total_value, "Avg_Tot_byGender": avg_tot_gen})

,Count,Avg_Purchase_Price,Total_Purchase,Avg_Tot_byGender
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

In [28]:
###Applyong desired formatting to the row values

In [27]:
Purchasing_Analysis_Gender['Avg_Purchase_Price'] = Purchasing_Analysis_Gender['Avg_Purchase_Price'].map("${}".format)
Purchasing_Analysis_Gender['Total_Purchase'] = Purchasing_Analysis_Gender['Total_Purchase'].map("${}".format)
Purchasing_Analysis_Gender['Avg_Tot_byGender'] = Purchasing_Analysis_Gender['Avg_Tot_byGender'].map("${}".format)
Purchasing_Analysis_Gender

,Count,Avg_Purchase_Price,Total_Purchase,Avg_Tot_byGender
Gender,,,,
Female,113,$3.2,$361.94,$3.2
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [29]:
#Age Demographics

In [30]:
bins = [0,9,14,19,24,29,34,39,100]
label = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [31]:
df['Age_Group'] = pd.cut(df['Age'], bins , labels = label)

In [32]:
groupage =df.groupby('Age_Group')

In [33]:
purch_count = groupage['Purchase ID'].count()
tot_val = round(groupage['Price'].sum(),2)
avg_val = round(groupage['Price'].mean(),2)
avg_tot_age = round(tot_val/groupage.Age_Group.count(),2)

In [34]:
new_df = pd.DataFrame({ "Purchase_Count" : purch_count, "Avg_Purchase_Price": avg_val, "Total_Purchase_Value": tot_val, "Total_per_AgeGroup": avg_tot_age})

In [35]:
new_df['Avg_Purchase_Price'] = new_df['Avg_Purchase_Price'].map("${}".format)
new_df['Total_Purchase_Value'] = new_df['Total_Purchase_Value'].map("${}".format)
new_df['Total_per_AgeGroup'] = new_df['Total_per_AgeGroup'].map("${}".format)
new_df

,Purchase_Count,Avg_Purchase_Price,Total_Purchase_Value,Total_per_AgeGroup
Age_Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.9,$293.0,$2.9
30-34,73,$2.93,$214.0,$2.93
35-39,41,$3.6,$147.67,$3.6
>40,13,$2.94,$38.24,$2.94

In [36]:
#Top Spenders

In [37]:
groupsn = df.groupby('SN')

In [38]:
p_count = groupsn['Purchase ID'].count()
a_val = round(groupsn['Price'].mean(),2)
t_val = round(groupsn['Price'].sum(),2)

In [39]:
sn_df =pd.DataFrame ({"Purchase_Count": p_count, "Avg_Purchase_Price": a_val,"Total_Purchase_Value":t_val})

In [40]:
sortdf = sn_df.sort_values('Total_Purchase_Value',ascending = False)
top_5 = sortdf.iloc[:5,:]

In [41]:
top_5['Avg_Purchase_Price'] = top_5['Avg_Purchase_Price'].map("${}".format)
top_5['Total_Purchase_Value']  = top_5['Total_Purchase_Value'].map("${}".format)
top_5

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             Purchase_Count Avg_Purchase_Price Total_Purchase_Value
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4               $3.4               $13.62
Iskadarya95               3              $4.37                $13.1

In [35]:
###Most Popular Items

In [42]:
grouppop = df.groupby(['Item ID','Item Name'])

In [43]:
cnt = grouppop['Purchase ID'].count()
tot_price = round(grouppop['Price'].sum(),2)
price = round(tot_price/cnt,2)

In [44]:
pop_df = pd.DataFrame({"Purchase_Count":cnt, "Item_Price":price, "Total_Purchase_Value": tot_price})
items_df = pop_df.sort_values('Purchase_Count', ascending = False)

In [45]:
popsort_df = items_df.iloc[:5:]

In [46]:
popsort_df['Item_Price']= popsort_df['Item_Price'].map("${}".format)
popsort_df['Total_Purchase_Value'] = popsort_df['Total_Purchase_Value'].map("${}".format)
popsort_df

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,,Purchase_Count,Item_Price,Total_Purchase_Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [47]:
###Most Profitable Items

In [48]:
profit_df = pop_df.sort_values('Total_Purchase_Value', ascending = False)

In [49]:
final_df = profit_df.iloc[:5,:]
final_df['Item_Price']= final_df['Item_Price'].map("${}".format)
final_df['Total_Purchase_Value'] = final_df['Total_Purchase_Value'].map("${}".format)
final_df

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Pankaj\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,,Purchase_Count,Item_Price,Total_Purchase_Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8