In [1]:
import pandas as pd
import os

In [2]:
path = os.path.join("Resources","purchase_data.csv")
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
df.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

In [4]:
total_players=df['SN'].nunique()
total_players
print("Total number of players : {}".format(total_players))

Total number of players : 576

In [5]:
unique_items = df['Item ID'].nunique()
print("Number of Unique Items : {}".format(unique_items))

Number of Unique Items : 179

In [6]:
avg_price= df['Price'].mean()
print("Average Purchase Price: ${}".format(avg_price))

Average Purchase Price: $3.050987179487176

In [7]:
total_purchases = df['Purchase ID'].count()
print("Total Number of Purchases : {}".format(total_purchases))

Total Number of Purchases : 780

In [8]:
total_revenue= df['Price'].sum()
print("Total Revenue : ${}".format(total_revenue))

Total Revenue : $2379.77

In [9]:
#Gender Demographics

In [10]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
total = df.Gender.count()
males = df.loc[df['Gender']== "Male","Gender"].count()
male_percent = round((males/total)*100,2)
print(total,males,male_percent)

780 652 83.59

In [12]:
females = df.loc[df["Gender"]=="Female", "Gender"].count()
female_percent = round((females/total)*100,2)
print(females, female_percent)

113 14.49

In [13]:
other = total - males - females
other_percent= round((other/total)*100,2)
print(other,other_percent)

15 1.92

In [14]:
#Purchasing Analysis

In [15]:
gendergroup = df.groupby("Gender")

In [16]:
purchase_count = gendergroup['Purchase ID'].count()
type(purchase_count)

pandas.core.series.Series

In [17]:
total_value = gendergroup['Price'].sum()

In [24]:
avg_purchase_price = round(gendergroup["Price"].mean(),2)

In [19]:
avg_tot_gen = round(total_value/ gendergroup.Gender.count(),2)

In [26]:
Purchasing_Analysis_Gender = pd.DataFrame({"Count":purchase_count, "Avg": avg_purchase_price, "Toal Purchase" : total_value, "Avg_Tot_byGender": avg_tot_gen})
Purchasing_Analysis_Gender

                       Count   Avg  Toal Purchase  Avg_Tot_byGender
Gender
Female                   113  3.20         361.94              3.20
Male                     652  3.02        1967.64              3.02
Other / Non-Disclosed     15  3.35          50.19              3.35

In [21]:
#Age Demographics

In [57]:
age = df['Age']
price = df['Price']
id = df['Purchase ID']

In [43]:
bins = [0,9,14,19,24,29,34,39,100]
label = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39",">40"]

In [49]:
new_df = pd.DataFrame({"Purchase_ID": id, "Purchase_Count" : total_purchases, "Avg_Purch_Price": avg_price, "Total_Purchase_Value": total_revenue, "Age": age})

In [51]:
new_df['Age_Group'] = pd.cut(new_df['Age'], bins , labels = label)

In [52]:
new_df.head()

   Purchase_Count  Avg_Purch_Price  Total_Purchase_Value  Age Age_Group
0             780         3.050987               2379.77   20     20-24
1             780         3.050987               2379.77   40       >40
2             780         3.050987               2379.77   24     20-24
3             780         3.050987               2379.77   24     20-24
4             780         3.050987               2379.77   23     20-24

In [53]:
groupage =new_df.groupby('Age_Group')

In [56]:
purch_count = groupage['Purchase ID'].sum()
tot_val = round(groupage['Price'].sum(),2)
avg_val = round(groupage['Price'].mean(),2)
avg_tot_age = round(tot_val/groupage.Age_Group.count(),2)

KeyError: 'Column not found: Purchase ID'